body {
    margin: 2px;
  }
  table {
    color: #696969;
    font-family: "Josefin Sans";
    font-size: 11px;
    width: 100%;
    border-spacing: 0px;
    /* border-bottom: 1px solid white; */
    /* border-right: 1px solid rgba(0 0 0 0.05); */
    border-collapse: collapse;
  }
  #table {
    margin-bottom: 50px;
  }
  
  #tableBody td:hover {
    background-color: yellow;
  }
  
  #headerRow td:hover {
    background-color: lightskyblue;
  }
  th {
    border-top: 1px solid white;
    line-height: 18px;
    padding: 2px;
    border-left: 1px solid white;
  }
  /* td.index {
          width: 90%;
          min-width: 1%;
          color: #c2c2c2;
      } */
  td {
    line-height: 18px;
    padding: 2px;
    border-left: 1px solid white;
    border-top: 1px solid white;
  }
  .exceptional {
    background-color: 4fab47;
  }
  .effective {
    background-color: #7c92cc;
  }
  .achieves {
    background-color: lightgray;
  }
  .NI {
    background-color: #fcc558;
  }
  .unacceptable {
    background-color: #eb340b;
  }
  select {
    min-width: 474px;
    max-height: 30px;
    border-radius: 3px;
  }
  .filter-submit-button-1 {
    margin: 10px 10px 10px 15px;
    border-radius: 5px;
    width: 474px;
  }
  #filters-card {
    border-width: 3px;
    border-radius: 10px;
    width: 515px;
    background-color: aliceblue;
    margin-top: 40px;
  }
  #filters-card.card {
    padding-top: 8px;
    padding-left: 10px;
  }
  h1 {
    margin: 10px 10px 10px 12px;
    padding: 5px 5px 5px 5px;
    background-color: white;
    border-radius: 5px;
  }
  .row {
    padding: 30px;
  }
  
  .dimension {
    background-color: aliceblue;
  }
  
  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    display: none;
  }
  
  .switch.label {
    width: 2.4px;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  input:checked + .slider {
    background-color: #2196f3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  .clear {
    background-color: white;
  }
  
  /* input {
      display: block;
      font-size: 18px;
      margin: 10px 0;
      padding: 10px;
      width: 400px;
    }
  
    input.search-key {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }  */
    
  .search-key {
    border-radius: 100px;
    box-shadow: 0;
    padding-left: 5px;
    border-width: 0px;
    background-color: #434343;
    font-style: initial;
    color: white;
  }
  
  ::placeholder {
    overflow: hidden;
    color: white;
    font-weight: 100;
    font-size: 14px;
    padding-left: 5px;
    padding-right:5px;
    width: 160px;
  }
  
  input .search-key {
      overflow: hidden;
      text-overflow: clip;
      color: white;
      width: 160px;
      white-space: nowrap;
   }
  
  